@import "tailwindcss";

@theme {
  --color-primary: #3b413c;
  --color-primary-foreground: #ffffff;

  --color-secondary: #94d1be;
  --color-secondary-foreground: #3b413c;

  --color-accent: #daf0ee;
  --color-accent-foreground: #3b413c;

  --color-muted: #9db5b2;
  --color-muted-foreground: #3b413c; /* use with opacity */

  --color-background: #ffffff;
  --color-foreground: #3b413c;
}


